.divider {
  background-color: rgba(0, 216, 255, 0.9);
  width: 100px;
  height: 3px;
  display: block;
  margin: 35px 0;
  margin-right: auto;
  margin-left: auto;
}

.inverted {
  background-color: white;
}
