.landing {
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.full {
  width: 100vw;
}

.section {
  padding: 200px 0 !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  padding: 40px !important;
}

.chart {
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  height: 500px;
  background-color: #fff;
}

.innerContainer {
  width: 768px;
  max-width: 100vw;
  padding: 40px 0;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}


.invertedHeader {
  color: white;
}

.techStackItem {
  background-color: rgba(23, 57, 67, 0.69);
  position: relative;
  opacity: 0.7;
  margin: 5px 0;
  max-width: 970px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.techStackWrapper {
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.techStackItemWrapper {
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.techStackImageWrapper {
  max-width: 300px;
  max-height: 200px;
  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}

.techStackItemTitle {
  padding-left: 120px;
}

.techStackItemOverlay {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #237ed2;
  cursor: pointer;
  .content {
    text-align: center;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    opacity: 1.0;
    transition: opacity 1s;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50% !important;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.carouselItem {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  p {
    line-height: 1.75;
    font-weight: 400;
    font-size: 20 !important;
    font-family: 'Merriweather', serif;
  }
}

.seperator {
  border-color: #ff590a !important;
  width: 90px;
  border-top-width: 2px;
  margin-left: auto;
  margin-right: auto;
}

.referenceText {
  margin-bottom: 60px;
}

.labelText {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.labelBottom {
  margin-top: 6px !important;
}
