.noneFound {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}

.noneFoundImage {
  height: 100px;
  width: 100px;
}

.noneFoundText {
  margin-top: 40px;
  color: #455A64 !important;
  width: 400px;
}

.thinkingFace {
  font-size: 6rem;
  padding: 10px;
}
