.tagLink {
  color: #7D97AD;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

.tagLinkWithMargin {
  color: #7D97AD;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  white-space: nowrap;
  margin-left: 8px;
}
