.container {
  padding-top: 3em;
  padding-bottom: 3em;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.timeLineItem {
  min-height: 200px;
  @media screen and (max-width: 767px) {
    min-height: 0;
  }
}

.section {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: aliceblue;
}
