// Included if you are using grommet.  Otherwise, just erase this next line.
@import 'grommet-udacity/scss/udacity/index';

// Add globally used utility styles here.
// Or import scss libraries that are to be used without CSS modules.
/*
.my-style {
  max-width: 20px;
  color: goldenrod;
}
<div className="my-style" />
*/

.full-height {
  min-height: 100vh;
}

.card {
  margin-top: 0;
  margin-bottom: 1.5rem;
  background: #fff;
  text-align: left;
  position: relative;
  border: 1px solid #dbe2e8;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,0.12);
  border-radius: 0.125rem;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}


body, html { overflow-x:hidden; }

input, textarea {
  max-width: 380px;
  outline: none;
  @media screen and (max-width: 480px) {
    max-width: 330px;
  }
  @media screen and (max-width: 430px) {
    max-width: 300px;
  }
  @media screen and (max-width: 400px) {
    max-width: 270px;
  }
  @media screen and (max-width: 370px) {
    max-width: 240px;
  }
  @media screen and (max-width: 340px) {
    max-width: 210px;
  }
  @media screen and (max-width: 310px) {
    max-width: 180px;
  }
}

textarea {
  resize: none !important;
}

.grommetux-form-field {
  max-width: 430px;
  @media screen and (max-width: 480px) {
    max-width: 330px;
  }
  @media screen and (max-width: 330px) {
    max-width: 280px;
  }
}
