.alignToTop {
  margin-top: 0;
  padding-top: 0;
}

.heroHeader {
  text-shadow: 0 2px 4px 0 rgba(46,61,73,0.86);
}

.button {
  margin-right: 10px;
  @media screen and (max-width: 600px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.buttonWrapper {
  @media screen and (max-width: 600px) {
    flex-direction: column !important;
  }
}

.columns {
  align-items: center;
}
