.description {
  height: 200px;
  width: 500px;
  max-width: 100%;
  text-align: justify;
  z-index: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:after {
    background: rgba(255,255,255,0.5);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 50%, #fff 100%);
    width: 100%;
    height: 66px;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.card {
  max-width: 550px !important;
  @media screen and (max-width: 600px) {
    max-width: 100vw !important;
  }
}
